# Archivos de configuración de Android Studio
.idea/
*.iml
.gradle
/local.properties

# Carpeta de compilación
/build/
/captures
/out/

# Archivos de C++/NDK
.externalNativeBuild
.cxx

# Archivos de sistema
.DS_Store
*.log

# Archivos generados por APK/Bundle
*.apk
*.ap_
*.aab
